
section .contact{
    display: flex;
    justify-content: center;
   
}
.contact .contact-primary{
    display: flex;
    justify-content: center;
    flex-direction: column
}

.contact form{
    width: 50%;
    justify-content: center;
}
.contact form label{
    margin-top: 10px;
}
.contact form input{
    padding: 8px;
    background-color: #f3f3f3b5;
    border: 2px solid #000;
}
.contact form input[type="submit"]{
   margin: 20px 0;
   padding: 10px 30px;
   background-color: #000;
   color: #fff;
   cursor: pointer;
}
.contact form input[type="submit"]:hover{
    background-color: transparent;
    color: #000;
}

.contact form input:focus{
    border: 2px solid rgb(44, 44, 44);
}
.contact form textarea{
    padding: 8px;
    background-color: #f3f3f3b5;
    border: 2px solid #000;
    resize:none;
}
.contact form textarea:focus{
    border: 2px solid rgb(44, 44, 44);
}
.contact form button:hover{
    box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
}
@media(max-width:500px){
    .contact form{
        width: 90%;
    }
}